@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Teacherové:</p>
    <ul>
        @foreach (var c in Model.ClassesE) {
            <li>@c.ClassName (@c.ClassId)</li>
        }
    </ul>
</div>
